@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #fdfbfc;
  color: #495067;
  display: flex;
  font-family: "Poppins", sans-serif;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  min-height: 100vh;
  overflow: hidden;
  transition: 300ms ease-in-out;
}
.dark-body {
  background-color: #272727;
  color: #a7adc0;
  transition: 300ms ease-in-out;
}
p {
  margin: 5px 0;
}

h2 {
  margin: 10px 0 20px;
  text-align: center;
  font-weight: bold !important;
}

input[type="checkbox"] {
  margin-right: 0;
}
input[type="number"] {
  border: 1px solid rgba(201, 201, 201, 0.486);
  padding: 5px;
  text-align: center;
  border-radius: 6px;
}
.dark-length-input {
  border: 1px solid #262626 !important;
  background-color: #262626;
  color: #a7adc0;
}

.container {
  background-color: #f8f8f8;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding: 20px;
  width: 350px;
  max-width: 100%;
  border-radius: 15px;
  transition: 50ms ease-in-out;
}
.dark-container {
  background-color: #181818;
}

.result-container {
  background-color: rgba(233, 233, 233, 0.74);
  border-radius: 8px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  font-size: 18px;
  letter-spacing: 1px;
  padding: 12px 10px;
  height: 50px;
  width: 100%;
}
.dark-result-container {
  background-color: rgba(71, 71, 71, 0.301);
}

.result-container #result {
  word-wrap: break-word;
  max-width: calc(100% - 40px);
}

.result-container .btn {
  font-size: 20px;
  position: absolute;
  top: 5px;
  right: 5px;
  height: 40px;
  width: 40px;
}

.btn {
  border: none;
  color: #216181;
  cursor: pointer;
  font-size: 16px;
  padding: 8px 12px;
  background-color: #cceeff;
  transition: 150ms ease-in-out;
}
.dark-btn {
  background-color: #14435a;
  color: #cceeff;
}
.dark-btn:hover {
  background-color: #cceeff;
  color: #216181;
}
.copy {
  border-radius: 8px;
  margin-right: 2px;
  transition: 150ms ease-in-out;
}
.btn:hover {
  background: #216181;
  color: #cceeff;
}
.btn-large {
  display: block;
  width: 100%;
  border-radius: 8px;
}

.setting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
}

@media screen and (max-width: 400px) {
  .result-container {
    font-size: 14px;
  }
}

.switch {
  position: relative;
  display: inline-block;
}

.switch-input {
  display: none;
}
.switch-label {
  display: block;
  width: 48px;
  height: 24px;
  text-indent: -150%;
  clip: rect(0 0 0 0);
  color: transparent;
  user-select: none;
}
.switch-label::before,
.switch-label::after {
  content: "";
  display: block;
  position: absolute;
  cursor: pointer;
}
.switch-label::before {
  width: 100%;
  height: 100%;
  background-color: #ffaaaa;
  border-radius: 9999em;
  -webkit-transition: background-color 0.25s ease;
  transition: background-color 0.25s ease;
}
.theme-switch-label::before {
  background-color: #cceeff;
}
.switch-label::after {
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.45);
  -webkit-transition: left 0.25s ease;
  transition: left 0.25s ease;
}
.dark-switch-label::after {
  background-color: #e7e7e7;
  transition: 300ms ease-in-out;
}
.switch-input:checked + .switch-label::before {
  background-color: #cceeff;
}
.theme-switch-input:checked + .theme-switch-label::before {
  background-color: #024d72;
}
.dark-switch-input:checked + .dark-switch-label::before {
  background-color: #216181;
  transition: 300ms ease-in-out;
}
.switch-input:checked + .switch-label::after {
  left: 24px;
}

.success-msg-container {
  transition: 400ms;
  position: absolute;
  bottom: 40px;
}
.success-msg {
  background: #dff4ff;
  border-radius: 10px;
  margin-top: 50px;
  padding: 20px 80px;
  transition: 300ms ease-in-out;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.dark-success-msg {
  background: #181818;
  transition: 300ms ease-in-out;
}

.hidden {
  display: none;
}
.visible {
  display: block;

  transition: 300ms ease-in-out;
}
.fade {
  animation: fading 1s forwards;
}

.blur {
  filter: blur(10px);
  filter: opacity(10%);
}

.theme-toggle-container {
  position: absolute;
  top: 50px;
  right: 50px;
}
